body{
    background-color:khaki;
}

h1{
    background-color:rgb(16, 237, 171);
    color:rgb(237, 16, 160);
    padding: 5px;
}

#show_sketch{
    float:right ;
    background-color: blue;
}

p{
    color: mediumslateblue;
    font-size: 23px;
    font-weight: bold;
    padding: 5px;
}

canvas{
    border:7px dotted crimson;
    border-radius: 20px;
    animation-name: name;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes name{
    from{box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.882)}
    to{box-shadow: 12px 12px 2px 1px rgba(0, 255, 119, 0.829)}
}